
body { background-color: #F2F2F2; font-size: 0.9rem; }
.card-resumo { background-color: #000; box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 0.1); border-radius: 0.5rem; padding: 1rem; color: #fff; }
.card-resumo h5 { font-weight: 600; margin-bottom: 0.5rem; }
.card-resumo p { font-size: 2rem; font-weight: 100; margin-bottom: 0; }
ul.resumo-list { max-height: 160px; overflow-y: auto; padding-left: 1rem; }
ul.resumo-list li { font-size: 0.9rem; padding: 0.15rem 0; border-bottom: 1px solid #fff; }
ul.resumo-list::-webkit-scrollbar { width: 6px; }
ul.resumo-list::-webkit-scrollbar-thumb { background-color: #adb5bd; border-radius: 3px; }
.quadro { background-color: #fff; border-radius: 0.5rem; margin: 1rem;}
