<script src="components/table/table.js"></script>
<link rel="stylesheet" href="components/table/table.css"/>

<div class="table-wrapper">
  <table class="custom-table" id="custom-table-component">
    <thead>
      <tr>
        <th class="col-identity">Research Identity</th>
        <th class="col-abstract">Abstract</th>
        <th class="col-keywords">Keywords</th>
        <th class="col-citations">Citations</th>
        <th class="col-actions d-none">Actions</th>
      </tr>
    </thead>
    <tbody id="table-body">
      </tbody>
  </table>
</div>